extends layout.pug
include section.pug
include robot.pug

block body
  include hero.pug

  +sectionSkeleton("videos", "Latest Videos")
  include robots.pug
  +sectionSkeleton("robots-susan", "Meet Susan")
    +robot([], '', robots.susan.media)
  +sectionSkeleton("robots-herman", "Meet Herman")
    +robot([], '', robots.susan.media)

  include hero/follow.pug


