doctype html
html( lang="en" )
  head
    meta( charset="utf-8" )
    meta( name="viewport" content="width=device-width, initial-scale=1" )
    title Dave's Armory
    meta( name="description" content="" )
    meta( name="author" content="" )
    meta( name="keywords" content="robot,robots,robotics,dave niewinski,daves armory" )

    link( href="/styles.css" rel="stylesheet" )
    script( src="https://kit.fontawesome.com/b70475c9ef.js" crossorigin="anonymous" )
    script( async src="https://platform.twitter.com/widgets.js" charset="utf-8" )
    script( async src="//www.instagram.com/embed.js" )
body
  block body
