include social.pug

.container.mx-auto.mb-24
  .mb-2.text-lg.text-gray-700
    | Don't forget to follow us on social media!
  ul.flex.items-center.self-end.justify-start.mb-12.list-none
    li.mr-6
      +heroSocial("https://twitter.com/DavesArmory", "fa fa-twitter")
    li.mr-6
      +heroSocial("https://github.com/DavesArmoury", "fa fa-github")
    li.mr-6
      +heroSocial("https://www.instagram.com/davesarmoury", "fa fa-instagram")
    li.mr-6
      +heroSocial("https://www.youtube.com/c/davesarmoury", "fa fa-youtube-play")
    li.mr-6
      +heroSocial("https://discord.gg/FHs3NWw", "fab fa-discord")
    li.mr-6
      +heroSocial("https://patreon.com/davesarmoury", "fab fa-patreon")
    li.mr-6
      +heroSocial("https://www.facebook.com/Daves-Armoury-100600288467931/", "fa fa-facebook")
